.recipe.list { 
    text-indent: 2cm;
}

.vegetarian { 
    height:auto;
    width: 400px;
}

.chicken.image { 
    height: auto; 
    width : 400px

}

.viking { 
    height: auto;
    width: 600px;
}